<html lang="en" style="height: auto;">
    <head>
        <title>HRD</title>
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Document</title>
        <style>
            *{
                font-size:16px;
            }
        </style>
    </head>
<body class="" dir="ltr"  style="height: auto; margin : 3 px;">

<div class="container">
<div class="row">
                <div class="displayInline100">
                    <img class="imgClassHeader" src="gambar/logo.png" />
                </div>

<div class= "displayinline">
<div class="header1" style="text-align:center" > 
	<u style="font-size: 18px">SURAT TUGAS </u> </br>
	821/LSPE/ST/XI/2018</div>
</div>

<div class= "displayinline">
<div style="margin-top:20px">
Ketua Lembaga Sertifikasi Profesi Energi Menugaskan Kepada :
</div>
                <div class="displayInline100" style="margin-top:20px">
                    <table class="table_info2-1 headerBold border-all">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>NAMA</th>
                                <th>JABATAN</th>
                                 <th>NO. HP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>RR Putri Puspita Sari</td>
                                <td>Staf Sertifikasi</td>
                                <td>08129572179 </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

<div style="display:inline-block; margin-top:20px; width:100%">
Untuk melaksanakan sebagai administrasi asesmen kompetensi pada :

<div style="display:inline-block; margin-top:20px; width:100%">
<table class="table_info1">
	<tbody>
		<tr>
			<td>Hari dan Tanggal</td>
			<td>:</td>
			<td>Rabu, 14 Nopember 2018</td>
		</tr>
		<tr>
			<td>Nama</td>
			<td>:</td>
			<td>Sertifikasi Kompetensi</td>
		</tr>
		<tr>
			<td>Total Sesi</td>
			<td>:</td>
			<td>2 Orang</td>
		</tr>
		<tr>
			<td>Alamat</td>
			<td>:</td>
			<td>TUK Arya Bangkit Widya, Jl. Dakota II Blok A3 No.8 
				Komp.AURI Kebantenan Indah - Jatiasih - Bekasi
			</td>
		</tr>
		<tr>
			<td>Telepon/fax</td>
			<td>:</td>
			<td>021-8215667</td>
		</tr>
	</tbody>
</table>
</div>
</div>
                <div style="display:inline-block; margin-top:20px; width:100%">
                    <div style="display:inline-block; vertical-align:top; width:63%">
                        
                    </div>
                    <div style="display:inline-block; vertical-align:top; width:35%">
                        <div class="textCenter" style="margin-top:20px !important">Bekasi,19 November 2018</div>
                        
                        <div style="margin-top:60px !important; width:100%">
                            <div class="textCenter"> Ir. Edi Purnomo </br> Ketua LSP Energi</div>
                        </div>
                    </div>
                </div>

              <div  style=" margin-top:20px;width:800px;">

                    <table class="positionBottom">
                        <tbody>
                            <tr>
                                <td style="width:250px;">Komplek Grand Galaxy Park</td>
                                <td class="empty"></td>
                                <td>E: info@lspenergi.com </td>
                            </tr>
                            <tr>
                                <td style="width:250px;">Blok RSK 6 No. 10 Bekasi</td>
                                <td class="empty"></td>
                                <td>P: (021) 22103604 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<body>
</html>