<html lang="en" style="height: auto;">
    <head>
        <title>HRD</title>
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Document</title>
        <style>
            *{
                font-size:16px;
            }
        </style>
    </head>
<body class="" dir="ltr"  style="height: auto; margin : 3 px;">
 
<div class="container">
<div class="row">
                <div class="displayInline100">
                    <img class="imgClassHeader" src="gambar/logo.png" />
                </div>

<div class= "displayinline">
<div class="header1" style="text-align:center;font-size: 18px" > 
SURAT PERNYATAAN </br> KESEDIAAN ASESOR
</div>
</div>

<div class= "displayinline">
<div style="margin-top:25px; ">
Yang bertandatangan di bawah ini : 
</div>

<div style="display:inline-block; margin-top:10px; width:100%">
<table class="table_info1" style="    text-indent: 90px;
    padding-top: 0px;">
    <tbody>
        <tr>
            <td>Nama</td> <td>:</td> <td> </td>
        </tr>
             <tr>
            <td>No. REG</td> <td>:</td> <td></td>
        </tr>
        <tr>
            <td>Alamat</td> <td>:</td> <td>  </td>
        </tr>
          <tr>
            <td></td> <td>:</td> <td>  </td>
        </tr>
       <tr>
            <td>HP</td> <td>:</td> <td>  </td>
        </tr>
       <tr>
            <td>Email</td> <td>:</td> <td></td>
        </tr>
    </tbody>
</table>
</div>

<div  style="display:inline-block; margin-top:50px; width:100%">
Dalam melaksanakan tugas Asesmen di: </div>
<div style="display:inline-block; margin-top:10px; width:100%">
<table class="table_info1" style="    text-indent: 90px;
    padding-top: 0px;">
    <tbody>
        <tr>
            <td>Nama TUK</td> <td>:</td> <td> </td>
        </tr>
             <tr>
            <td>Alamat</td> <td>:</td> <td></td>
        </tr>
        <tr>
            <td>Telp/fax</td> <td>:</td> <td>  </td>
        </tr>
    </tbody>
</table>
</div>

<div  style="display:inline-block; margin-top:50px; width:100%">
Dengan ini menyatakan  : </div>
<div style="display:inline-block; margin-top:20px; width:100%">
<table class="table_info2" >
    <tbody style="text-indent: 60px;" >
        <tr>
            <td>1.</td>
            <td>Bersedia untuk menjadi Asesor dalam proses pelaksanaan asesmen </td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Menjaga kerahasiaan terhadap hasil asesmen selama proses asesmen maupun setelahnya.</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Hasil asesmen hanya akan diberitahukan kepada LSP Energi dan asesi.</td>
        </tr>
         <tr>
            <td>4</td>
            <td>Menjaga kode etik profesi.</td>
        </tr>

    </tbody>
</table>
</div>
<div  style="display:inline-block; margin-top:50px; width:100%">
Demikian pernyataan ini saya buat dalam keadaan sadar dan tanpa paksaan dari pihak manapun dan bilamana di kemudian hari ternyata pernyataan ini tidak benar maka saya bersedia untuk menerima sanksi yang diberikan dari pihak yang terkait. </div>
                <div style="display:inline-block; margin-top:20px; width:100%">
                    <div style="display:inline-block; vertical-align:top; width:63%">
                        
                    </div>
                    <div style="display:inline-block; vertical-align:top; width:35%">
                        <div class="textCenter" style="text-align: center; margin-top:20px !important">...............,....................... 2018 </br> Yang menyatakan,</div>
                        
                        <div style="text-align: center;margin-top:100px !important; width:100%">
                            <div class="textCenter"> (____________________)</div>
                        </div>
                    </div>
                </div>

<body>
</html>