<html lang="en" style="height: auto;">
    <head>
        <title>HRD</title>
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Document</title>
        <style>
            *{
                font-size:16px;
            }
        </style>
    </head>
    <body style="height: auto;">
        <div class="container">
            <div class="row">
                <div class="displayInline100">
                    <img class="imgClassHeader" src="logo.png" />
                </div>
                <div class="displayInline100">
                    <div class="header1 borderBottom-3px"><h2 class="fontWeight-700" style="margin:0;margin-top:20px;">SURAT TUGAS</h2></div>
                </div>
            
                <div class="displayInline100">
                    <div class="header1-nomer"><h4 style="margin:0;">834/LSPE/ST/XI/2018</h4></div>
                </div>
            
                <div class="displayInline100">
                    <div style="margin-top:20px">Ketua Lembaga Sertifikasi Profesi Energi menugaskan kepada:</div>
                </div>
            
                <div class="displayInline100" style="margin-top:20px">
                    <table class="table_info2-1 headerBold border-all">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>NAMA</th>
                                <th>JABATAN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>Test</td>
                                <td>Kepala Bagian Personalia Dan Umum</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Test</td>
                                <td>Jl. Plamongan Indah No. 27, Batursari</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="displayInline100">
                    <div style="margin-top:20px">Untuk melaksanakan Rapat Pleno Asesmen pada: </div>
                </div>

                <div class="displayInline100" style="margin-top:20px">
                    <table class="table_info1-1">
                        <tbody>
                            <tr>
                                <td>Tanggal</td>
                                <td>:</td>
                                <td>Kamis, 8 November 2018</td>
                            </tr>
                            <tr>
                                <td>Nama</td>
                                <td>:</td>
                                <td>Asesmen / Sertifikasi Kompetensi</td>
                            </tr>
                            <tr>
                                <td>Alamat</td>
                                <td>:</td>
                                <td>TUK JTCC, Jl. Patangpuluhan No. 26 Yogyakarta </td>
                            </tr>
                            <tr>
                                <td>Telepon/Fax</td>
                                <td>:</td>
                                <td>0821 3322 3330</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="displayInline100" style="margin-top:20px">
                    <table class="table_info1-1">
                        <tbody>
                            <tr>
                                <td>Tanggal</td>
                                <td>:</td>
                                <td>Kamis, 8 November 2018</td>
                            </tr>
                            <tr>
                                <td>Nama</td>
                                <td>:</td>
                                <td>Asesmen / Sertifikasi Kompetensi</td>
                            </tr>
                            <tr>
                                <td>Alamat</td>
                                <td>:</td>
                                <td>TUK JTCC, Jl. Patangpuluhan No. 26 Yogyakarta </td>
                            </tr>
                            <tr>
                                <td>Telepon/Fax</td>
                                <td>:</td>
                                <td>0821 3322 3330</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div style="display:inline-block; margin-top:20px; width:100%">
                    <div style="display:inline-block; vertical-align:top; width:63%">
                        
                    </div>
                    <div style="display:inline-block; vertical-align:top; width:35%">
                        <div class="textCenter" style="margin-top:20px !important">Bekasi,19 November 2018</div>
                        
                        <div style="margin-top:60px !important; width:100%">
                            <div class="textCenter">( Heru Hermawan )</div>
                        </div>
                    </div>
                </div>

                <div class="displayInline100 positionBottom" style="margin-top:20px;width:800px;">
                    <table class="table_info1 fontSizeAll-14">
                        <tbody>
                            <tr>
                                <td style="width:250px;">Komplek Grand Galaxy Park</td>
                                <td class="empty"></td>
                                <td>E: info@lspenergi.com </td>
                            </tr>
                            <tr>
                                <td style="width:250px;">Blok RSK 6 No. 10 Bekasi</td>
                                <td class="empty"></td>
                                <td>P: (021) 22103604 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </body>
</html>