<html lang="en" style="height: auto;">
    <head>
        <title>HRD</title>
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Document</title>
        <style>
            *{
                font-size:14px;
            }
        </style>
    </head>
    <body style="height: auto;">
        <div class="container">
            <div class="row">
                <table class="tableHeaderFooter">
                    <thead>
                        <tr>
                            <td>
                                <div class="displayInline100 divheader">
                                    <img class="imgClassHeader" src="logo1.png" />
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="displayInline100">
                                    <div class="header1"><h4 style="margin:0;margin-top:5px;">KEPUTUSAN KETUA LSP ENERGI</h3></div>
                                </div>
                            
                                <div class="displayInline100">
                                    <div class="header1-nomer"><h4 style="margin:0;margin-top:5px;">NOMOR: 838/LSPE/SKK/XI/2018</h4></div>
                                </div>
                
                                <div class="displayInline100">
                                    <div class="header1-nomer"><h4 class="fontWeight-700" style="margin:0;margin-top:5px;">TENTANG</h4></div>
                                </div>
                
                                <div class="displayInline100">
                                    <div class="header1-nomer"><h4 class="fontWeight-700" style="margin:0;margin-top:5px;text-align: center">PELAKSANAAN UJI KOMPETENSI UNTUK SKEMA AUDITOR ENERGI DI INDUSTRI 
                                        DI TUK ARYA BANGKIT</h4></div>
                                </div>
                
                                <div class="displayInline100">
                                    <div class="header1-nomer"><h4 class="fontWeight-700" style="margin:0;margin-top:5px;">WIDYA  </h4></div>
                                </div>
                
                                <div class="displayInline100">
                                    <div class="header1-nomer"><h4 class="fontWeight-700" style="margin:0;margin-top:5px;">TAHUN 2018  </h4></div>
                                </div>
                
                                <div class="displayInline100 borderBottom-2px" style="margin-top:5px"></div>
                
                
                                <div class="displayInline100">
                                    <div class="header1"><h4 style="margin:0;margin-top:5px;">KETUA LSP ENERGI</h4></div>
                                </div>
                
                                <div style="display:inline-block; margin-top:20px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Menimbang
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100">
                                            <table class="table_info2-1 paddingTd-5">
                                                <tbody>
                                                    <tr>
                                                        <td>a.</td>
                                                        <td>bahwa dalam rangka meningkatkan pengakuan tenaga kerja indonesia pada dunia
                                                            Usaha/industri bidang/sektor minyak dan gas bumi, maka perlu diadakan uji
                                                            kompetensi untuk skema Auditor Energi di Industri di  TUK Arya Bangkit Widya</td>
                                                    </tr>
                                                    <tr>
                                                        <td>b.</td>
                                                        <td>bahwa untuk itu perlu ditetapkan dengan Surat Keputusan Ketua LSP ENERGI</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Mengingat
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <table class="table_info2-1 paddingTd-5">
                                                <tbody>
                                                    <tr>
                                                        <td>1.</td>
                                                        <td>Undang- undang Nomor 13 Tahun 2003 tentang Badan Nasional Sertifikasi Profesi
                                                                (Lembaran Negara Tahun 2003 nomor 36, tambahan Lembaran Negara Nomor
                                                                4279)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.</td>
                                                        <td>Peraturan Pemerintah Nomor: 23 Tahun 2004 tentang Badan Nasional Sertifikasi
                                                            Profesi (Lembaran Negara Tahun 2004 nomor 78, tambahan Lembaran Negara
                                                            Nomor 4428)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3.</td>
                                                        <td>Surat Keputusan BNSP No.KEP.934/BNSP/XI/2015 tentang Lisensi Kepada LSP ENERGI
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4.</td>
                                                        <td>Surat Keputusan LSP ENERGI No.KEP.040/LSPE/TUK/VIII/2015 tentang Lisensi TUK Arya Bangkit Widya  
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Memperhatikan
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <table class="table_info2-1 paddingTd-5">
                                                <tbody>
                                                    <tr>
                                                        <td>1.</td>
                                                        <td>Surat Ketua TUK Arya Bangkit Widya No.167/TUKABW/AE/XI/2018, tanggal
                                                                9 Nopember 2018, tentang 
                                                            Kesanggupan TUK Arya Bangkit Widya sebagai tempat pelaksanaan uji kompetensi 
                                                            pada Pelaksanaan Sertifikasi Tahun 2018
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="bold" style="display:inline-block; margin-top:10px; width:100%;text-align: center">Memutuskan</div>
                
                
                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Menetapkan
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <table class="table_info2-1 paddingTd-5">
                                                <tbody>
                                                    <tr>
                                                        <td class="empty"></td>
                                                        <td>Tim Pelaksana yang terdiri dari penanggungjawab, Sekretariat Penyelenggara,
                                                            Pengadministrasi, Asesor Kompetensi dan Peserta Uji, pada kegiatan Pelaksanaan
                                                                Uji Kompetensi untuk Skema Auditor Energi di Industri di TUK Arya Bangkit Widya 
                                                            Pada Pelaksanaan Sertifikasi Tahun 2018
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Kesatu
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <table class="table_info2-1 paddingTd-5">
                                                <tbody>
                                                    <tr>
                                                        <td class="empty"></td>
                                                        <td>Menunjuk personal Tim Pelaksana yang namanya tercantum dalam lampiran
                                                                Keputusan ini sebagai Penanggungjawab, Sekretariat Penyelenggara,
                                                                Pengadministrasi, Asesor Kompetensi dan Peserta Uji Kompetensi
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Kedua
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <table class="table_info3-1 paddingTd-5">
                                                <tbody>
                                                    <tr>
                                                        <td class="empty" style="padding:1px !important"></td>
                                                        <td>Tim sebagaimana dimaksud dalam Diktum Kesatu keputusan ini, bertugas sebagai 
                                                                berikut:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td>a. </td>
                                                                    <td>Penanggungjawab</td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Memantau terhadap Pelaksanaan Uji Kompetensi mulai dari persiapan, pelaksanaan dan sampai pelaporan.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>b.</td>
                                                                    <td>Sekretariat Penyelenggara</td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Membuat administrasi absensi, pembayaran dan penyusunan laporan kegiatan Pelaksanaan Uji Kompetensi sesuai dengan format yang telah ditentukan, dan pelaksanaan tugas administrasi lainnya.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>c.</td>
                                                                    <td>Asesor Kompetensi</td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Melaksanakan penilaian terhadap peserta pada kegiatan Pelaksanaan Uji Kompetensi sesuai dengan skema/jabatan yang telah ditetapkan.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>d.</td>
                                                                    <td>Peserta Uji Kompetensi</td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>Mengikuti uji kompetensi yang dilaksanakan oleh Asesor Kompetensi.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Ketiga
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <div style="display:inline-block; vertical-align:top; width:calc(100% - 0)">
                                                <div class="displayInline100 ">
                                                    <table class="table_info2-1 paddingTd-5">
                                                        <tbody>
                                                            <tr>
                                                                <td class="empty"></td>
                                                                <td>Tim sebagaimana di maksud dalam Diktum kedua akan diberikan Surat Perintah
                                                                        Tugas (SPT) dan dalam melaksanakan tugas harus dengan penuh tanggungjawab dan
                                                                        Melaporkan hasilnya kepada Ketua LSP ENERGI
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Keempat
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <div style="display:inline-block; vertical-align:top; width:calc(100% - 0)">
                                                <div class="displayInline100 ">
                                                    <table class="table_info2-1 paddingTd-5">
                                                        <tbody>
                                                            <tr>
                                                                <td class="empty"></td>
                                                                <td>Kegiatan Pelaksanaan Uji Kompetensi untuk skema Auditor Energi di Industri TUK 
                                                                    Arya Bangkit Widya pada pelaksanaan 
                                                                    Sertifikasi Tahun 2018 akan dilaksanakan pada tanggal 14 Nopember 2018

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Kelima
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <div style="display:inline-block; vertical-align:top; width:calc(100% - 0)">
                                                <div class="displayInline100 ">
                                                    <table class="table_info2-1 paddingTd-5">
                                                        <tbody>
                                                            <tr>
                                                                <td class="empty"></td>
                                                                <td>Biaya yang timbul akibat ditetapkannya Keputusan ini dibebankan pada Anggaran
                                                                    Pelaksanaan Sertifikasi 14 Nopember 2018


                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Keenam
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        <div class="displayInline100 ">
                                            <div style="display:inline-block; vertical-align:top; width:calc(100% - 0)">
                                                <div class="displayInline100 ">
                                                    <table class="table_info2-1 paddingTd-5">
                                                        <tbody>
                                                            <tr>
                                                                <td class="empty"></td>
                                                                <td>Keputusan ini berlaku sejak tanggal ditetapkan dengan ketentuan apabila
                                                                    Dikemudian hari terdapat kekeliruan/kekurangan dalam penetapan ini  akan
                                                                    Diadakan perbaikan sebagaimana mestinya.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display:inline-block; margin-top:20px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                        <div style="text-align: left;width: fit-content;" class="borderBottom-1px">*Coret Tidak Perlu</div>
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                            
                                    </div>
                                </div>

                                <div style="display:inline-block; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                        <div style="margin-top:10px !important">Dikeluarkan di : Bekasi</div>
                                        <div style="margin-top:10px !important">Pada tanggal &nbsp;&nbsp;: 14 Nopember 2018</div>
                                    </div>
                                </div>

                                <div style="display:inline-block; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                        <div style="margin-top:10px !important">Tembusan : </div>
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                    </div>
                                </div>

                                <div style="display:inline-block; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                        <div style="margin-top:10px !important">1. Ketua BNSP </div>
                                        <div style="margin-top:10px !important">2. Ketua TUK Arya Bangkit Widya</div>
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                            
                                        <div style="margin-top:10px !important">KETUA LSP ENERGI</div>
                                        <div style="margin-top:100px !important">(  Ir.Edi Purnomo  )</div>
                                    </div>
                                </div>
                                <div class="pageBreakBefore"></div>


                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Lampiran I.
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        Keputusan Ketua LSP Energi 
                                    </div>
                                </div>


                                <div style="display:inline-block; margin-top:10px; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:110px;padding:5px;">
                                        Nomor
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:5px;padding:5px;">
                                        :
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:calc(100% - 195px)">
                                        838/LSPE/SKK/XI/2018, Tanggal 14 Nopember 2018
                                    </div>
                                </div>

                                <div class="displayInline100">
                                    <div class="header1-nomer"><h5 class="fontWeight-700" style="margin:0;margin-top:5px;text-align: center">TIM PELAKSANAAN UJI KOMPETENSI UNTUK SKEMA AUDITOR ENERGI DI INDUSTRI DI TUK ARYA </h5></div>
                                    <div class="header1-nomer"><h5 class="fontWeight-700" style="margin:0;margin-top:5px;text-align: center">BANGKIT WIDYA PADA PELAKSANAAN UJI KOMPETENSI TAHUN 2018</h5></div>
                                </div>

                                <div class="displayInline100" style="margin-top:20px;">
                                    <table class="table_info2-1 paddingTd-5 headerBold border-all">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama</th>
                                                <th>Jabatan Dalam Organisasi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                
                                            <tr>
                                                <td class="bold">I.</td>
                                                <td class="bold">Penanggungjawab </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>1.</td>
                                                <td>Stefi Wulandari  </td>
                                                <td>Manajemen Mutu </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="bold">II.</td>
                                                <td class="bold">Sekretariat Penyelenggara Uji  </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>1.</td>
                                                <td>Rr. Putri Puspa Sari   </td>
                                                <td>Bagian Keuangan dan Umum  </td>
                                            </tr>
                                            <tr>
                                                <td class="bold">III.</td>
                                                <td class="bold">Asesor Kompetensi  </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>1.</td>
                                                <td>Dwi Suharsono  </td>
                                                <td>Asesor Kompetensi   </td>
                                            </tr>
                                            <tr>
                                                <td class="bold">IV.</td>
                                                <td class="bold">Peserta </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>1.</td>
                                                <td>Gigih Kurniadi  </td>
                                                <td>Asesi </td>
                                            </tr>
                                            <tr>
                                                <td>2.</td>
                                                <td>Deni Wahyudin   </td>
                                                <td>Asesi </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div style="display:inline-block; width:100%;margin-top:20px;">
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                        <div style="margin-top:10px !important">Dikeluarkan di : Bekasi</div>
                                        <div style="margin-top:10px !important">Pada tanggal &nbsp;&nbsp;: 14 Nopember 2018</div>
                                    </div>
                                </div>


                                <div style="display:inline-block; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                            
                                        <div style="margin-top:10px !important">KETUA LSP ENERGI</div>
                                        <div style="margin-top:100px !important"> Ir.Edi Purnomo  </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>