<html lang="en" style="height: auto;">
    <head>
        <title>HRD</title>
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Document</title>
        <style>
            *{
                font-size:14px;
            }
        </style>
    </head>
    <body style="height: auto;">
        <div class="container">
            <div class="row">
                <table class="tableHeaderFooter">
                    <thead>
                        <tr>
                            <td>
                                <div class="displayInline100 divheader">
                                    <img class="imgClassHeader" src="logo2.png" />
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div style="display:inline-block; width:100%">
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                        <table class="table_info1-1">
                                            <tbody>
                                                <tr>
                                                    <td>Hari Tanggal</td>
                                                    <td>:</td>
                                                    <td>Kamis, 8 November 2018</td>
                                                </tr>
                                                <tr>
                                                    <td>Alamat</td>
                                                    <td>:</td>
                                                    <td>TUK JTCC, Jl. Patangpuluhan No. 26 Yogyakarta </td>
                                                </tr>
                                                <tr>
                                                    <td>Telepon/Fax</td>
                                                    <td>:</td>
                                                    <td>0821 3322 3330</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="display:inline-block; vertical-align:top; width:48%">
                                        <table class="table_info1-1">
                                            <tbody>
                                                <tr>
                                                    <td>Waktu</td>
                                                    <td>:</td>
                                                    <td>Kamis, 8 November 2018</td>
                                                </tr>
                                                <tr>
                                                    <td>Acara</td>
                                                    <td>:</td>
                                                    <td>Asesmen / Sertifikasi Kompetensi</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="displayInline100">
                                    <table class="table_info3-1 border-all paddingTd-10 paddingTh-10 Td1-50 headerCenter" style="margin-top:20px;">
                                        <thead>
                                            <tr>
                                                <th >No.</th>
                                                <th >NAMA</th>
                                                <th >Perusahaan/Instansi</th>
                                                <th >Telp / Help / Email</th>
                                                <th >Tanda Tangan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="3" style="vertical-align: middle">01</td>
                                                <td rowspan="3">Gigih Kurniadi </td>
                                                <td rowspan="3">Auditor Energi Industri </td>
                                                <td style="text-align:left">Bidang Kompetensi:Test</td>
                                                <td rowspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">HP:</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">Email:</td>
                                            </tr>

                                            <tr>
                                                <td rowspan="3" style="vertical-align: middle">01</td>
                                                <td rowspan="3">Gigih Kurniadi </td>
                                                <td rowspan="3">Auditor Energi Industri </td>
                                                <td style="text-align:left">Bidang Kompetensi:Test</td>
                                                <td rowspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">HP:</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">Email:</td>
                                            </tr>

                                            <tr>
                                                <td rowspan="3" style="vertical-align: middle">01</td>
                                                <td rowspan="3">Gigih Kurniadi </td>
                                                <td rowspan="3">Auditor Energi Industri </td>
                                                <td style="text-align:left">Bidang Kompetensi:Test</td>
                                                <td rowspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">HP:</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">Email:</td>
                                            </tr>
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>