<html lang="en" style="height: auto;">
    <head>
        <title>HRD</title>
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Document</title>
        <style>
            *{
                font-size:14px;
            }
        </style>
    </head>
    <body style="height: auto;">
        <div class="container">
            <div class="row">
                <table class="tableHeaderFooter">
                    <thead>
                        <tr>
                            <td>
                                <div class="displayInline100 divheader">
                                    <img class="imgClassHeader" src="logo1.png" />
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="displayInline100">
                                    <div class="header1-nomer"><h3 class="fontWeight-700" style="margin:0;margin-top:5px;text-align: center">SURAT PERNYATAAAN</h3></div>
                                    <div class="header1-nomer"><h3 class="fontWeight-700" style="margin:0;margin-top:5px;text-align: center">UNTUK MEMEGANG RAHASIA</h3></div>
                                </div>
                                <div class="displayInline100" style="margin-top:20px;">
                                    Saya,                                              menyatakan tidak akan membuka rahasia yang saya peroleh karena penugasan saya sebagai 
                                    asesor dalam pekerjaan asesmen LSP kepada siapapun atau organisasi apapun selain kepada pihak yang berwenang sehubungan dengan kewajiban 
                                    saya sebagai asesor yang ditugaskan oleh LSP.
                                </div>
                                <div class="displayInline100" style="margin-top:20px;">
                                    Saya juga menyatakan untuk menghormati hak cipta dokumen LSP dengan cara tidak menggandakan atau meminjamkan kepada pihak lain dokumen LSP 
                                    yang diberikan/dipinjamkan untuk sementara kepada saya dan mengembalikan semua dokumen tersebut kepada LSP yang bersangkutan, kecuali 
                                    diizinkan pemiliknya.
                                </div>
                                <div class="displayInline100" style="margin-top:20px;">
                                    Saya menyatakan bahwa selama penunjukkan saya sebagai asesor, informasi yang demikian itu harus tetap dipandang sebagai rahasia yang kuat. 
                                    Saya akan melakukan semua langkah-langkah yang baik untuk mencegah orang-orang yang tidak berwenang memperoleh informasi tersebut.
                                </div>
                                <div class="displayInline100" style="margin-top:40px;">
                                    Tandatangan : _______________________________________________ tanggal : 
                                </div>
                                <div class="displayInline100" style="margin-top:40px;">
                                        Nama : 
                                </div>
                                <div class="displayInline100" style="margin-top:40px;">
                                        Alamat :   
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <div class="displayInline100" style="margin-top:20px;width:800px;">
                                    <table class="table_info1 fontSizeAll-14">
                                        <tbody>
                                            <tr>
                                                <td style="width:250px;">Komplek Grand Galaxy Park</td>
                                                <td class="empty"></td>
                                                <td>E: info@lspenergi.com </td>
                                            </tr>
                                            <tr>
                                                <td style="width:250px;">Blok RSK 6 No. 10 Bekasi</td>
                                                <td class="empty"></td>
                                                <td>P: (021) 22103604 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>