<html lang="en" style="height: auto;">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
    <style>
    *{
        font-size:16px;
    }
</style>
</head>
<body class="" dir="ltr"  style="height: auto; margin : 3 px;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
    <style>
    *{
        font-size:16px;
    }
</style>    <title>Document</title>

<div class="container">
    <div class="row">
        <div class="displayInline100">
            <img class="imgClassHeader" src="gambar/logo.png" />
        </div>

        <div class= "displayinline">
            <div class="header1" style="text-align:center" > 
               BERITA ACARA 
           </br>
           ASESMEN SERTIFIKASI KOMPETENSI
       </div>
   </div>

   <div class= "displayinline">
    <div style="margin-top:20px">
     Berdasarkan hasil rapat pleno yang dilaksanakan pada hari Senin tanggal 19 November di LSP 
     Energi yang beralamat di Ruko Grand Galaxy Blok RSK 06 Nomor 10 terhadap asesmen yang
     dilaksankan oleh :
 </div>
 <div style="display:inline-block; margin-top:20px; width:100%">
    <div style="display:inline-block; margin-top:20px; width:100%">
        <table class="table_info1">
           <tbody>
              <tr>
                 <td>TUK</td>
                 <td>:</td>
                 <td>Arya Bangkit Widya</td>
             </tr>
             <tr>
                 <td>Hari, Tanggal</td>
                 <td>:</td>
                 <td>Rabu, 14 November 2018</td>
             </tr>
             <tr>
                 <td>Tempat</td>
                 <td>:</td>
                 <td>Kantor ABW, Jl.Dakota A3 No.08 Komp.Auri Kebanten Indah,Jatiasih Bekasi</td>
             </tr>
             <tr>
                 <td>Jumlah Asensi</td>
                 <td>:</td>
                 <td>2 Asensi</td>
             </tr>
             <tr>
                 <td>Skema Sertifikasi</td>
                 <td>:</td>
                 <td>Auditor Energi Industri</td>
             </tr>
             <tr>
                 <td>Asesor</td>
                 <td>:</td>
                 <td>Dwi Suharsono</td>
             </tr>
             <tr>
                 <td>Administrasi</td>
                 <td>:</td>
                 <td>RR. Putri Puspa Sari</td>
             </tr>
         </tbody>
     </table>
 </div>
</div>
<div style="display:inline-block; margin-top:20px; width:100%">
    <div style="display:inline-block; vertical-align:top; width:63%">
        Telah menghasilkan keputusan bahwa asesi yang telah kompeten sebanyak 2 asesi (daftar terlampir).
    </div>
    <br>
    <br>
    <div style="display:inline-block; vertical-align:top; width:63%">
        Demikian berita acara pelaksanaan asesmen dibuat dengan sebenarya agar dapat digunakan sebagimana mestinya.Terimakasih
    </div>
    <div style="display:inline-block; vertical-align:top; width:63%">

    </div>
    <div style="display:inline-block; vertical-align:top; width:35% ">
        <div class="textCenter" style="margin-top:20px !important">Bekasi,19 November 2018</div>
        <div class="textCenter">Ketua Panitia Teknis</div>
        <div style="margin-top:70px !important; width:100%">
            <div class="textCenter"> Stefi Wulandari</div>
        </div>
    </div>
</div>
<div class="displayInline100 positionBottom" style=" margin-top:20px;width:800px;">
    <table class="table_info1 fontSizeAll-14">
        <tbody>
            <tr>
                <td style="width:250px;">Komplek Grand Galaxy Park</td>
                <td class="empty"></td>
                <td>E: info@lspenergi.com </td>
            </tr>
            <tr>
                <td style="width:250px;">Blok RSK 6 No. 10 Bekasi</td>
                <td class="empty"></td>
                <td>P: (021) 22103604 </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<html lang="en" style="height: auto;">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
    *{
        font-size:16px;
    }
</style>
</head>
<body class="" dir="ltr"  style="height: auto; margin : 3 px;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
    <style>
    *{
        font-size:16px;
    }
</style>   

<div class="container">
    <div class="row">
        <div class="displayInline100">
            <img class="imgClassHeader" src="gambar/logo.png" />
        </div>

        <div class= "displayinline">
            <div class="header1" style="text-align:center" >DATA SERTIFIKASI TUK ARYA BANGKIT WIDYA</div>
        </div>

        <div class= "displayinline">
            <div style="margin-top:20px">

            </div>
            <div class="displayInline100" style="margin-top:20px">
                <table class="table_info2-1 headerBold border-all">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Skema Sertifikasi</th>
                            <th>Hasil Asesmen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Gigih Kurniadi</td>
                            <td>Auditor Energi Industri</td>
                            <td>Kompeten</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Deni Wahyudin</td>
                            <td>Auditor Energi Industri</td>
                            <td>Kompeten</td>
                        </tr>
                        
                    </tbody>
                    <div class="positionBottom1" style=" display: inline-block; margin-top:20px;width:800px;">
                            <table class=" fontSizeAll-14" style="margin-top: 700px">
                                <tbody>
                                    <tr>
                                        <td style="width:250px;">Komplek Grand Galaxy Park</td>
                                        <td class="empty"></td>
                                        <td>E: info@lspenergi.com </td>
                                    </tr>
                                    <tr>
                                        <td style="width:250px;">Blok RSK 6 No. 10 Bekasi</td>
                                        <td class="empty"></td>
                                        <td>P: (021) 22103604 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </table>
            </div>
        </body>
        </html>